
.social {
    display: flex;
    width: 135px;
    justify-content: space-between;

    &__img {
        flex-basis: 30px;
        height: 30px;
        border-radius: 50%;

        &--fb {
            background: url(../img/social.png);
        }

        &--tw {
            background: url(../img/social.png) 100px 0;
        }

        &--google {
            background: url(../img/social.png) 65px 0;
        }

        &--linkedn {
            background: url(../img/social.png) 165px 0;
        }

        &:hover {
            box-shadow: 0 0 2px @dark-grey;
        }
    }
}