@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto');
.button {
  border: 1px solid #ffcc00;
  color: #666666;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: transparent;
  width: 118px;
  height: 22px;
  outline: none;
  cursor: pointer;
}
.button:active {
  background: #ffcc00;
  color: white;
}
.radio {
  position: relative;
  cursor: pointer;
}
.radio::before {
  content: " ";
  background: #ffcc00;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.radio:checked::after {
  content: " ";
  border: 1px solid #ffcc00;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.social {
  display: flex;
  width: 135px;
  justify-content: space-between;
}
.social__img {
  flex-basis: 30px;
  height: 30px;
  border-radius: 50%;
}
.social__img--fb {
  background: url(../img/social.png);
}
.social__img--tw {
  background: url(../img/social.png) 100px 0;
}
.social__img--google {
  background: url(../img/social.png) 65px 0;
}
.social__img--linkedn {
  background: url(../img/social.png) 165px 0;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.container__header {
  padding: 40px 0 0;
}
.container__main {
  padding: 30px 20px 40px;
}
.header {
  text-align: center;
  position: relative;
}
.header__slogan {
  font: 500 18px/24px Raleway;
  color: #bfbfbf;
  text-transform: uppercase;
}
.header__title {
  font: 900 60px/66px Roboto;
  color: #ffcc00;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.header__icon {
  width: 16px;
  height: 20px;
}
.header:before {
  content: '';
  position: absolute;
  width: 25%;
  border-bottom: 1px solid #ffcc00;
  bottom: 12px;
  right: 24%;
}
.header:after {
  content: '';
  position: absolute;
  width: 25%;
  border-bottom: 1px solid #ffcc00;
  bottom: 12px;
  left: 24%;
}
.main {
  display: flex;
  position: relative;
}
.main__portrait {
  padding: 80px 0;
  flex: 1 1 0;
  border-right: 1px solid #ffcc00;
}
.main__img-border {
  border: 1px solid #ffcc00;
  display: flex;
  position: relative;
  width: 415px;
  height: 415px;
  margin: 0 auto;
}
.main__img-border:before {
  content: '';
  position: absolute;
  background: white;
  top: -1px;
  bottom: -1px;
  right: 25%;
  left: 25%;
}
.main__img-border:after {
  content: '';
  position: absolute;
  background: white;
  top: 25%;
  bottom: 25%;
  right: -1px;
  left: -1px;
}
.main__img {
  position: relative;
  z-index: 1;
  margin: auto;
  border: 1px solid #ffcc00;
}
.main:before {
  content: '';
  position: absolute;
  border-bottom: 1px solid #ffcc00;
  border-right: 1px solid #ffcc00;
  top: 49%;
  height: 2%;
  width: 1%;
  cursor: pointer;
  left: 0;
  transform: rotate(135deg);
}
.main:after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #ffcc00;
  border-right: 1px solid #ffcc00;
  top: 49%;
  height: 2%;
  width: 1%;
  cursor: pointer;
  right: 0;
  transform: rotate(-45deg);
}
.main__info {
  padding: 80px 0;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main__info .info__title {
  color: #666666;
  font: 900 36px/24px Roboto;
  text-align: center;
}
.main__info .info__title::after {
  content: " ";
  display: inline-block;
  width: 40%;
  height: 35px;
  border-bottom: 1px solid #ffcc00;
}
.main__info .info__subtitle {
  color: #666666;
  font: 400 24px/36px Raleway;
  text-align: center;
}
.main__info .info__about {
  color: #333333;
  font: 500 14px/24px Raleway;
  text-align: center;
  width: 416px;
  position: relative;
}
.main__info .info__about::before {
  content: " ";
  position: absolute;
  width: 6%;
  height: 40px;
  border-left: 6px solid white;
  border-right: 6px solid white;
  left: 45.8%;
  top: 70%;
}
.main__info .info__about::after {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 13%;
  height: 30px;
  border-bottom: 3px solid #ffcc00;
}
.slider {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.bottom-header-line {
  content: '';
  position: absolute;
  width: 25%;
  border-bottom: 1px solid #ffcc00;
  bottom: 12px;
}
.fancy-arrow {
  content: '';
  position: absolute;
  border-bottom: 1px solid #ffcc00;
  border-right: 1px solid #ffcc00;
  top: 49%;
  height: 2%;
  width: 1%;
  cursor: pointer;
}
.relative-flex {
  display: flex;
  position: relative;
}
.white-space {
  content: '';
  position: absolute;
  background: white;
}
.content-section {
  padding: 80px 0;
  flex: 1 1 0;
}
